.container{
    padding: 50, 40px;
}

h1{
    font-family:'Tajawal', sans-serif;
    font-weight: bold;
    padding:26, 240px;
    text-align: center;
}
h2{
    font-family:'Tajawal', sans-serif;
    font-weight: bold;
    padding:16px;
    display: flexbox;

}
nav{
 font-family:'Tajawal', sans-serif;
 font-weight: medium;

}
button{
    width: 200px;
color: rgb(59, 59, 59);
    border-radius: 50px;
text-align: center;
    padding: 18, 30, 18, 30px;

}

footer{
    padding: 400px;
}