:root {
  --branding-color: rgb(167, 117, 176);
  --secondary-color: rgb(229, 225, 225);
  --third-color:  rgb(193, 167, 167);
  --background-colors:  rgb(239, 221, 221);
  --heading-font-family: 'Tajawal', sans-serif;
  --default-font-family: 'Roboto', sans-serif;
}

body {
  font-family: var(--default-font-family);
}

.container{
    padding: 50, 40px;
}

h1{
    font-size: 96px; 
    text-align: center;
}
h1, h2, h3{
   color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
nav{
 font-family:var(--default-font-family);
 font-weight: medium;

}


footer{
    padding: 400px;
     font-family:var(--default-font-family);
}

p {
  font-weight: normal;
 color: var(--branding-color);
 line-height: 1.5;
}

.titles {
  background: var(--background-colors);
  text-align: center;
  padding: 160px 20px;
}

.titles p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--branding-color);
}


.btn-branding{
        width: 200px;
color: rgb(59, 59, 59);
    border-radius: 50px;
text-align: center;
    padding: 18, 30, 18, 30px;

}



.btn-branding {
  background: var(--branding-color);
  border-radius: 50px;
  font-family: var(--heading-font-family);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}
.btn-branding:hover{
    color: var(--third-color);
}


@media (max-width: 900px) {
  h1 {
      font-size: 34px;
    line-height: 2;
    text-align: center;

  }
   h2 {
    font-size: 24px;
  }
.description{
    text-align: left;
        padding: 80px 20px;
}
  .project-desciption {
    padding: 0;
    text-align: left;
  }

p{
      padding: 0;
    text-align: left;
}
    .footer {
    display: none;
  }
}
@media (min-width: 900px) {
  h1 {
    color: rgb(127, 96, 96);
  }
}

.btn-branding-outline{
     color: rgb(120, 80, 80);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  border: 1px solid var(--branding-color);
  border-radius: 40px;
  
}
.description{
    padding: 120 px 60x;
}

.content-container  h1{
  font-size: 64px;
  line-height: 80px ;
}
.content-container{
  padding: 60px 20px;
}

.content-container h2{
  font-size: 18px;
  font-family: var(--default-font-family);
}


.content{
  margin: 30px;
}
.projectlink{
  padding: 16px;
}
.btn-branding{
  color: rgb(164, 107, 164);
  background-color: rgb(241, 241, 241);
  border: none;
box-shadow: hotpink;
border-radius: 1px;

}